<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/extjs/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/icons.css" />
    <script src="/static/extjs/ext-all-debug.js" type="application/x-javascript"></script>
    <script src="/static/extjs/packages/ext-theme-crisp/build/ext-theme-crisp.js" type="application/x-javascript"></script>
    <script src="/static/extjs/packages/ext-locale/build/ext-locale-ru-debug.js"></script>
    <script src="/static/app.js" type="application/x-javascript"></script>
</head>
<body>
    <script>
    </script>
</body>

</html>